<launch>

 <node
  pkg="adaptive_controller"
  type="irun.py"
  name="rosoclingo_controller"
  args="$(find adaptive_controller)/asp/controller.lp"
  required="true"
 />

 <node
  pkg="adaptive_controller"
  type="actionsFulfiller.py"
  name="action_fulfiller"
  respawn="true"
 />

 <node
  pkg="adaptive_controller"
  type="minimalRequest.py"
  name="task_requester"
 />

</launch>
